
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>More page</h1>
<h2>Lorem ipsum dolor sit amet,</h2>
  <p>consectetur adipiscing elit. Sed vitae odio venenatis, volutpat felis ut, vehicula elit. Suspendisse in lorem lobortis, aliquet purus in, convallis erat.
    Integer vel metus condimentum, suscipit leo sed, suscipit risus. Cras suscipit suscipit aliquam. In sollicitudin dolor sit amet erat porta, nec varius sem blandit.
    Vivamus vehicula leo sit amet sem porta, ac rhoncus risus faucibus. </p>
    <h2>Lorem ipsum dolor sit amet,</h2>
      <p>consectetur adipiscing elit. Sed vitae odio venenatis, volutpat felis ut, vehicula elit. Suspendisse in lorem lobortis, aliquet purus in, convallis erat.
        Integer vel metus condimentum, suscipit leo sed, suscipit risus. Cras suscipit suscipit aliquam. In sollicitudin dolor sit amet erat porta, nec varius sem blandit.
        Vivamus vehicula leo sit amet sem porta, ac rhoncus risus faucibus. </p>
        <h2>Lorem ipsum dolor sit amet,</h2>
          <p>consectetur adipiscing elit. Sed vitae odio venenatis, volutpat felis ut, vehicula elit. Suspendisse in lorem lobortis, aliquet purus in, convallis erat.
            Integer vel metus condimentum, suscipit leo sed, suscipit risus. Cras suscipit suscipit aliquam. In sollicitudin dolor sit amet erat porta, nec varius sem blandit.
            Vivamus vehicula leo sit amet sem porta, ac rhoncus risus faucibus. </p>

{% endblock %}
